@{
    ViewBag.Title = "Home Page";
}
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->

<div class="jumbotron">
    <h1>Un Lugar</h1>
    <p>Un Lugar es la aplicacion web que te permite encontrar y compartir eventos de interes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>¿Aburrido!?¿Quieres asistir una fiesta y no sabes donde ir? </h3>
        <p>Con Un Lugar puedes encotrar el lugar ideal para tus eventos.Echale un ojito a los eventos.Esperemos que te gusten</p>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("lista de eventos", "Evento", "Evento")</button>

    </div>
    <div class="col-md-4">
        <h3>Mantente actualizado! </h3>
        <p>Mira los eventos con mas recientes.</p>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Proximos Eventos", "ProximosEventos", "Evento")</button>
    </div>
    <div class="col-md-4">
        <h3>¿Buscas alguna categoria en particular?</h3>
        <h5>¡ENCUENTRALA AQUI!</h5>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Academico", "EventosGustos", "Evento", new { Categoria = "Academico" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Cultural", "EventosGustos", "Evento", new { Categoria = "Cultural" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Deportivo", "EventosGustos", "Evento", new { Categoria = "Deportivo" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Empresarial", "EventosGustos", "Evento", new { Categoria = "Empresarial" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Politico", "EventosGustos", "Evento", new { Categoria = "Politicol" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Recreativo", "EventosGustos", "Evento", new { Categoria = "Recreativo" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Religioso", "EventosGustos", "Evento", new { Categoria = "Religioso" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Social", "EventosGustos", "Evento", new { Categoria = "Social" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Otro", "EventosGustos", "Evento", new { Categoria = "Otro" }, null)</button>
    </div>

    <div class="col-md-4">
        <h3>¿Buscas algo cerca?</h3>
        <h5>¡ENCUENTRALA AQUI!</h5>
        <p id="geolocation-test"></p>
        <script>
            (function(){
	            var content = document.getElementById("geolocation-test");

	            if (navigator.geolocation)
	            {
		            navigator.geolocation.getCurrentPosition(function(objPosition)
                    {
                        var lon = objPosition.coords.longitude;
                        var lat = objPosition.coords.latitude;

                        content.innerHTML = "<p><strong>Tu latitud:</strong> " + lat + "</p><p><strong>Tu longitud:</strong> " + lon + "</p>";
                        

                    }, function (objPositionError)
                        {
			    switch (objPositionError.code)
			    {
				    case objPositionError.PERMISSION_DENIED:
					    content.innerHTML = "No se ha permitido el acceso a la posición del usuario.";
				    break;
				    case objPositionError.POSITION_UNAVAILABLE:
					    content.innerHTML = "No se ha podido acceder a la información de su posición.";
				    break;
				    case objPositionError.TIMEOUT:
					    content.innerHTML = "El servicio ha tardado demasiado tiempo en responder.";
				    break;
				    default:
					    content.innerHTML = "Error desconocido.";
			    }
		    },  {
			        maximumAge: 75000,
			        timeout: 15000
		    });
	            }
	            else
	        {
	            content.innerHTML = "Su navegador no soporta la API de geolocalización.";
	        }
            })();
        </script>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("CERCA", "EventosAlrededor", "Evento", new { Latitud = "4.628104500000001", Longitud = "-74.0654527" }, null)</button>
        

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>