@{
    ViewBag.Title = "Home Page";
}
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->
<p id="lat"></p>
<p id="long"></p>

<div class="jumbotron">
    <h1>Un Lugar</h1>
    <p>Un Lugar es la aplicacion web que te permite encontrar y compartir eventos de interes.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>¿Aburrido!?¿Quieres asistir una fiesta y no sabes donde ir? </h3>
        <p>Con Un Lugar puedes encotrar el lugar ideal para tus eventos.Echale un ojito a los eventos.Esperemos que te gusten</p>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("lista de eventos", "Evento", "Evento")</button>

    </div>
    <div class="col-md-4">
        <h3>Mantente actualizado! </h3>
        <p>Mira los eventos con mas destacados, los mas influyentes, o de los que todos estan hablando.</p>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Top Eventos", "TopEventos", "Evento")</button>
    </div>
    <div class="col-md-4">
        <h3>¿Buscas alguna categoria en particular?</h3>
        <h5>¡ENCUENTRALA AQUI!</h5>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Academico", "EventosGustos", "Evento", new { Categoria = "Academico" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Cultural", "EventosGustos", "Evento", new { Categoria = "Cultural" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Deportivo", "EventosGustos", "Evento", new { Categoria = "Deportivo" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Empresarial", "EventosGustos", "Evento", new { Categoria = "Empresarial" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Politico", "EventosGustos", "Evento", new { Categoria = "Politicol" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Recreativo", "EventosGustos", "Evento", new { Categoria = "Recreativo" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Religioso", "EventosGustos", "Evento", new { Categoria = "Religioso" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Social", "EventosGustos", "Evento", new { Categoria = "Social" }, null)</button>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("Otro", "EventosGustos", "Evento", new { Categoria = "Otro" }, null)</button>
    </div>

    <div class="col-md-4">
        <h3>¿Buscas algo cerca?</h3>
        <h5>¡ENCUENTRALA AQUI!</h5>
        <button class="btn waves-effect waves-blue purple lighten-4 " type="submit">@Html.ActionLink("CERCA", "EventosAlrededor", "Evento", new {Latitud ="qetLatitud()", Longitud="getLongitud()" }, null)</button>

    </div>

</div>

<!-- Compiled and minified JavaScript -->
<script>
   
    function getLatitud() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        return position.coords.latitude;
    }

    function getLongitud() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        return position.coords.longitude;
     }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>