@model IEnumerable<Login.Datos.Lugar>


@{
    ViewBag.Title = "Detalle del Evento";
}

<h2>TOP Evento</h2>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css" />
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<!--Import Google Icon Font-->

<table class="table">


    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayNameFor(model => model.Nombre)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Ubicacion)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Usuario)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Categoria)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.FechaInicio)</td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.FechaFin)</td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFin)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Capacidad)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacidad)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Asistentes)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Asistentes)
        </td>
    </tr>
    <tr>
        <td>
            <div class="form-group">
                <div id="ModalMapPreview2" style="width: 200%; height: 100px;"></div>
            </div>


        </td>
    </tr>
    }

</table>


<script>
    $('#ModalMapPreview').locationpicker({
        radius: 0,
        location: {
            latitude: $('#Latitud').val(),    //POSICION INICIAL
            longitude: $('#Longitud').val()
        },
        enableAutocomplete: true,   //AUTOCOMPLETE EN EL BUSCADOR
        inputBinding: {
            latitudeInput: $('#Latitud'),
            longitudeInput: $('#Longitud'),
            locationNameInput: $('#Ubicacion')
        },

    });

     $('#ModalMapPreview2').locationpicker({
        radius: 0,
        location: {
            latitude: $(item.latitude).val(),    //POSICION INICIAL
            longitude: $(item.longitude).val()
        },


    });
</script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}