@model IEnumerable<Login.Datos.Lugar>

@{
    ViewBag.Title = "Evento";
}

<h2>Evento</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asistentes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Usuario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Capacidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Asistentes)
    </td>
    <td>
        @Html.ActionLink("Detalles", "DetallesEvento", new { id = item.ID }) |
        @{
            if (item.Capacidad > item.Asistentes)
            {
                @Html.ActionLink("Asistir", "Asistir", new { id = item.ID }, new { @class = "eAsistir" })
            }
            else
            {
                <b>NO PUEDE ASISTIR-CAPACIDAD MAXIMA </b>
            }
        }
    </td>
</tr>
 }

</table>

@section scripts{
    <script>
        $(".eAsistir").click(function (event) {
            if (!confirm('Estás seguro de que deasea asistir?')) {
                event.preventDefault();
            }
        });
    </script>
    }


