@model IEnumerable<Login.Datos.Lugar>

@{
    ViewBag.Title = "TusEventos";
}

<h2>TusEventos</h2>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Asistentes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asistentes)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarEvento", new { id = item.ID }) |
                @Html.ActionLink("Detalle", "DetallesEvento", new { id = item.ID }) |
                @Html.ActionLink("Eliminar", "EliminarEvento", new { id = item.ID }, new { @class = "eEliminar" })
            </td>
        </tr>
    }
</table>

@section scripts{
    <script>
        $(".eEliminar").click(function (event) {
            if (!confirm('Estás seguro de eliminar?')) {
                event.preventDefault();
            }
        });
    </script>
}
